<% provide(:title, "Top") %>
<header class="navbar navbar-fixed-top navbar-default" id="header">
  <div class="container">
    <%= link_to "Task App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path, class: "header-list" %></li>
          <li class="dropdown">
            <ul class="dropdown-menu">
              <li class="doropdown-header">ユーザー</li>
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "設定" %></li>
              <li class="doropdown-header">タスク</li>
              <li><%= link_to "タスク一覧", user_task_path(current_user) %></li>
                
              <li class="divider"></li>
              <li><%=link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
          <li><%= link_to "ログイン", login_path, class: "header-list" %></li>
      </ul>      
    </nav>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="center jumbotron" id="top-main">
        <h1 id="top-main-title">TaskApp</h1>
          <p>TaskAppは簡易ToDo管理ツールです。</p>
          <p>↓↓初めてのご利用↓↓</p>
          <a class="btn btn-lg btn-success" href="/signup">アカウント作成</a>
          <div style="margin-top: 10px;">
            <a class="btn btn-danger" href="/guest-admin/login">ゲストログイン（管理権限）</a>
            <a class="btn btn-warning" href="/guest-login">ゲストログイン（一般権限）</a>
          </div>
      </div>
    </div>
  </div>
</div>
        